li {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

span{
    display: block;
}
li a:hover {
    color: #969696;
}

